@import "src/common.scss";

.ant-card-head-wrapper{
  display: inline-block;
}
.ant-card-head .ant-tabs{
  display: inline-block;
  margin-bottom: 0;
  float: right;
}
.ant-tabs-nav-scroll{
  text-align: right;
}
.ant-card-contain-tabs > .ant-card-head .ant-card-head-title{
  padding: 16px 0;
}
.ant-tabs-bar{
  margin: 0;
}
.ant-card-head .ant-tabs-bar{
  border: none;
}